body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    height: 100vh;
    
    background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.aen.pr.gov.br%2Fsites%2Fdefault%2Farquivos_restritos%2Ffiles%2Fimagem%2F2023-04%2F20230413_142255.jpg&tbnid=rWKr4v8pWg2ipM&vet=12ahUKEwjImvfs3LKDAxWqNrkGHdCZDbYQMygAegQIARB0..i&imgrefurl=https%3A%2F%2Fwww.aen.pr.gov.br%2FNoticia%2FIAT-faz-vistorias-tecnicas-em-projetos-de-parques-urbanos-da-regiao-Norte-do-Parana&docid=OAXCBs-n4zrXnM&w=3000&h=2000&q=parque&ved=2ahUKEwjImvfs3LKDAxWqNrkGHdCZDbYQMygAegQIARB0");
    background-size: cover;
    background-position: center;
}
header {
    display: grid;
    align-items:stretch;
    height: 130px;
}
.container {
    display: grid;
    margin: auto;
}
#acesso {
    color: rgb(107, 107, 107);
    background-color: white;
    border-color:rgb(200, 200, 200);
    border-radius: 3px;
    margin: 10px;
    size: 50px;
}

.card {
    background-color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    margin-right: 250px;
    height: 500px;
}
#log {
    font-size: 30px;
}
#texto{
    font-size: larger;
}

#logo {
    margin-bottom: 1rem;
    color: white;
    margin-left: 30px;
    background-blend-mode: darken;
}

#link{
    color:black;
    font-weight:bolder;
    
}


#username {
    background-color: rgb(233, 234, 234);
    border: none;
    border-radius: 5px;
    margin: 10px;
}
#password {
    background-color: rgb(233, 234, 234);
    border: none;
    border-radius: 5px;
    margin: 10px;
}
#go {
    background-color: rgb(213, 58, 2);
    border-radius: 5px;
    height: 50px;
    width: 80px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="password"] {
    margin-bottom: 1rem;
    padding: 0.5rem;
}

input[type="submit"] {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}