body, h1, p {
    margin: 0;
    padding: 0;
}

/* Estilos do header */
header {
    background-color: #ff5100;
    padding: 20px;
    text-align: center;
}

/* Estilos do body */
body {
    border: 10px solid #ff5100;
    border-radius: 20px;
    padding: 20px;
}